table{
    border: 1px solid;
    text-align: center;
    width: 500px;
    height: 500px;
}
tr{
    border: 1px solid;
}
td{
    border: 1px solid;
}

div{
    background-color: #fff;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}